.header {
    background-color: #edf0f5;
    display: flex;
    flex-direction:row-reverse;
    
    margin-top: 15px;
    align-items: center;
    color: rgb(10, 10, 10);
    margin-bottom: 15px;
}

.button{
    width: 100px;
    margin-right: 15px;
}

.icon {
    
    margin-right: 15px;
    color: rgb(100, 100, 100)
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    font-size: small;
}

.popup-arrow {
color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
width: 200px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
background: transparent;
}

.resources {
    color: blue;
}

.progressbar {
    background-color: #E7F3FC;
}